@font-face {
    src:url(fonts/OneDirection.ttf)format("truetype");
    font-family: nos;
}
.paragraph{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family:sans-serif;
    color: rgba(4, 4, 4, 0.686);
}
.paragraph2{
    text-align:center;
    font-size: 200px;
    font-family: nos;
    font-weight: bold;
    color: rgb(1, 1, 1);
}
.menu-bar
{
text-align:center;
background-color: #332f2fa7;
}
.menu-bar ul
{
   display: inline-flex;
   color:floralwhite
}
.menu-bar ul li
{
    font-family: Impact;
    width: 120px;
    margin: 15px;
    padding: 15px;

}

.menu-bar ul li:hover
{

    background: floralwhite;
    color: #1d1b1bc2;
    border-radius:3px;
}

  .search-bar {
    text-align: center;
    margin-top: 20px;
  }

  .search-bar input[type="text"] {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .search-bar button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Adjust the icon size */
  .search-bar button[type="submit"] i {
    font-size: 18px;
  }


.paragraph5{
    font-size: 20px;
    font-family:Courier;
    margin: 30px;
    font-weight: bold;
    color: rgba(13, 176, 209, 0.925);
}



.lets-go-btn{
    color: rgb(255, 253, 253);
    background: rgba(199, 4, 4, 0.997);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: -15px; 
}
.lets-go-btn:hover{
    background: rgb(188, 17, 17);
}

.icons{
    display: flex;
    font-size: 2rem;
    margin-top:0;
    line-height: 0;
    align-items: flex-end;
    display: flex;
    gap: 0px;
    justify-content: center;
    min-height:15vh;
    display:flex;

}

.icons a { margin-right:75px; }

.icons :hover{
    transform: scale(1.0);
}

.footer{
    background-color:transparent;
    margin-top:28%;
}
.p1{
    color: floralwhite;
    font-size: larger;
    padding-bottom: 10px;
    
}
